FINSIGHT_TELEGRAM.json
{
  "name": "FINSIGHT_TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -96
      ],
      "id": "57355fbc-9f38-4429-bee9-f7e4269e324e",
      "name": "Telegram Trigger",
      "webhookId": "9979eaf2-1387-498c-a1bd-0c64cf7fdc27",
      "credentials": {
        "telegramApi": {
          "id": "KRdGZx6rHaMqO6mJ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2190e6b-f49a-419d-a86e-4bfdc79c31ec",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/spend",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "063676e4-ed9d-4811-98e0-2657e034837f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -96
      ],
      "id": "286f7f7d-a38a-41e7-94d7-b4d6bee86dd0",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transactions",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "transaction_type",
              "condition": "eq",
              "keyValue": "debit"
            },
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $now.startOf('week').toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -112
      ],
      "id": "19debe23-a57e-4c4e-b5bd-1feb59193203",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "5Kr8KT1v36fdJoEh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "amount"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        672,
        -112
      ],
      "id": "100f1e47-8be4-46f6-9452-47b1957d5aec",
      "name": "Summarize"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Boss, your total debit spend is: ₦ {{ $json.sum_amount }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -112
      ],
      "id": "17a7b755-6fe8-4364-b110-d7abf5c11c5b",
      "name": "Send a text message",
      "webhookId": "26e6f4f3-8daa-45b4-adc3-b85b3213b98c",
      "credentials": {
        "telegramApi": {
          "id": "KRdGZx6rHaMqO6mJ",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e8c2b8e-d9fa-443f-a77b-7209d27556c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8f45234b8538009e5da968e40f9eddac7fadd57dfa035880149bb3474e32fde"
  },
  "id": "eD61nsZPka7bZvF4",
  "tags": []
}